body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.container{
    width: 80%;
}

.active{
    opacity: 1 !important;
}

/* Header  */

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.header .navbar .navbar-brand i{
    font-size:25px;
    font-weight:bolder;
}

.header .navbar .navbar-brand span{
    font-size:30px;
    font-weight: 600;
}

.header .navbar .navbar-brand p{
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    margin-top: -6px;
    font-weight: 600;
    opacity: .9;
}

.header .nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 0 7px;
    opacity: .8;
    transition: all 0.5s ease;
}

.header .nav-link:hover{
   opacity: 1;
}

.header .dropdown-item{
    font-weight: 600;
    opacity: 0.7;
}

.header .dropdown-item:hover{
    font-weight: 600;
    opacity: 1;
}

.header .search i:first-of-type{
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    color: white;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.header .search i:last-of-type{
    font-size: 25px;
    padding: 13px;
    margin-left: 2px;
    color: white;
    margin-bottom: 10px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    border: 1px solid var(--border-color-light);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

/* Carousel  */

.carousel .carousel-item img{
    object-fit: cover;
    height: 750px;
}

.carousel .carousel-caption{
    bottom: 50%;
    transform: translateY(45%);
    text-align: left;
    left: 12%;
    z-index: 4;
}

.carousel .carousel-caption h5{
    font-size: 63px;
    line-height: 1.1;
    margin-bottom: 18px;
    color: rgb(255, 255, 255);
    max-width: 750px;
    font-weight: 600;
    animation-delay: 0.8s;
}

.carousel .carousel-caption p{
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: .9;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius:10px;
    cursor: pointer !important;
}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
    cursor: pointer !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
   cursor: pointer;
}

.carousel .carousel-control-prev {
    background-color: white !important;
    color: black;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 90%;
    left: 90%;
    opacity: .9;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    z-index: 4;
}

.carousel .carousel-control-next {
    background-color: white !important;
    color: black;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 90%;
    left: 95%;
    opacity: .9;
    z-index: 5;
}

.carousel .carousel-control-next:hover{
    opacity: 1;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
}

.carousel .carousel-control-prev:hover{
    opacity: 1;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
}

.carousel .carousel-item::after{
    content: "";
    background: rgb(29,42,55,0.7);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shape{
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    z-index: 3;
    width: 100%;
}

.shape path{
    fill: white;
}


/* About Us */

.AboutUs{
    margin-top: 100px;
}

.AboutUs .img-fluid{
    border-radius: 10px;
}

.AboutUs .AboutUs-left{
    padding-left: 30px;
}

.AboutUs .AboutUs-left h6{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

.AboutUs .AboutUs-left h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    color: #3f3a64;
    width: 550px;
    opacity: 1;
}

.AboutUs .AboutUs-left p{
    font-size: 17px;
    opacity: .8;
    line-height: 27px;
    width: 550px;
}

.AboutUs .AboutUs-left ul{
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

.AboutUs .AboutUs-left li{
    margin: 15px 0;
}

.AboutUs .AboutUs-left li a{
    text-decoration: none;
    color: #3f3a64;
    font-size: 15px;
    line-height: 28px;
    font-weight: 600 !important;
}

.AboutUs .AboutUs-left li i{
    margin-right: 5px;
    background: white;
    color: #00a63f;
    border-radius: 100%;
    opacity: .8;
    font-weight:600;
    font-size: larger;
}

/* Forcus  */
.forcus{
    margin-top: 120px;
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 100px;
}
.forcus .forcus-left{
    padding-left: 30px;
    padding-top: 50px;
}

.forcus .forcus-left h6{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.forcus .forcus-left h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    width: 90%;
    color: #3f3a64;
}

.forcus .forcus-left p {
    width: 95%;
    color: #7e7d7d;
    margin-bottom: 50px;
}

.forcus .forcus-left a {
    background-color: #00a63f;
    border-radius: 10px;
}


.forcus .forcus-left a:hover{
    background-color: #00732c;
}

.forcus .forcus-right .forcus-item{
    background-color: white;
    padding:2px;
    padding: 40px 30px;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: #fff;
    transition: .3s ease;
}
.forcus-item img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}
.forcus-item p a{
    text-decoration: none;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
}
.forcus .forcus-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 3px 5px, rgb(71 63 79 / 16%) 1px 6px 11px;
    transition: .3s ease;
}

.forcus-item p a:hover {
    color: #009f4d;
}

/* Services  */
.services{
    margin-top: 90px;   
}

.services h1{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #3f3a64;
}

.services img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.services .content a:last-of-type{
    text-decoration: none;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-align: center;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid #00000000;
    border-radius: 10px;
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.services .content a:last-of-type:hover{
   color: #00a63f;
}

.services .content p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
    width: 80%;
    margin: auto;
}

.services .content button{
    margin-top: 10px;
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #3f3a64;
    border-radius: 10px;
}

.services .content button:hover{
    color: #00a63f;
}

/* Gallery */
.gallery{
    margin-top: 100px;
}

.gallery p{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
    margin-bottom: 0;
}

.gallery h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    color: #3f3a64;
}

.gallery a.zoom {
    overflow: hidden;
    position: relative;
}

.gallery a.zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.gallery a:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.gallery .overlay__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--layer);
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.gallery a.zoom:hover .overlay__hover {
    visibility: visible;
    opacity: 1;
}

.gallery a.zoom:hover .hover-content {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.gallery span.hover-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}

.gallery span.hover-content .title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.gallery span.hover-content .content {
    font-size: 18px;
    color: #eee;
    display: block;
}